*,
*::after,
a::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

code,
pre {
  white-space: pre-wrap;
}
