$board-height: 16rem;
$header-height: 4.5rem;
$board-title-height: 4.9rem;
$header-and-board-title-height: $header-height + $board-title-height;

$color-blue: rgb(0, 121, 191);
$color-green: rgb(75, 191, 107);
$color-orange: rgb(255, 171, 74);
$color-red: rgb(235, 90, 70);
$color-gray: #ddd;
$color-black: #555;
