$board-height: 16rem;

$color-blue: rgb(0, 121, 191);
$color-green: rgb(97, 189, 79);
$color-light-green: rgb(81, 232, 152);
$color-orange: rgb(255, 171, 74);
$color-red: rgb(235, 90, 70);
$color-yellow: rgb(242, 214, 0);
$color-purple: rgb(195, 119, 224);
$color-pink: rgb(255, 128, 206);
$color-gray: #ddd;
