.list {
  background-color: #e2e4e6;
  border-radius: 0.3rem;
  width: 100%;
  overflow-y: auto;
}

.list__container {
  display: inline-flex;
  flex: 0 0 27rem;
  margin-right: 1rem;
  flex-direction: column;
  height: 100%;
}

.list:last-of-type {
  margin-right: 0;
}

.list__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
}

.list__items {
  width: 100%;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  align-content: start;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.8rem;
  }
}

.list-items::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.list__add-card-btn {
  color: #ebebeb;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.list__add-card-btn:hover {
  color: lighten(#ebebeb, 8%);
  text-decoration: underline;
}
