.list {
  background-color: #e2e4e6;
  border-radius: 0.3rem;
  min-height: 1rem;
  margin-bottom: 10px;
  background-color: transparent;
  overflow-x: auto
}


.list__container {
  margin-right: 1rem;
  display: inline-flex;
  flex: 0 0 27rem;
  height: 100%;

  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list:last-of-type {
  margin-right: 0;
}

.list__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
}

.list__delete {
  float: right;
  font-size: 1.5rem;
  cursor: pointer; 
}

.list__items {
  width: 100%;
  height: 100%;
  list-style: none;
  &:-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.4);
  }
}

.list-items::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.list__add-card-btn {
  color: #ebebeb;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.list__add-card-btn:hover {
  color: lighten(#ebebeb, 8%);
  text-decoration: underline;
}
