@import "../../sass/variables";

.board-box {
  width: 30rem;
  height: $board-height;
  margin: 5px;
  cursor: pointer;
  text-align: left;

  &__text {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.6rem;

    &:not(:last-child) {
      padding: 0;
      display: block;
    }
  }
}
