.card-options {
    position: absolute;
    right: 0;
    z-index: 20;
    user-select: none;
}


.card-options__children {
    position: absolute;
    z-index:1000;
    top: 0;
    right: 6rem;
    margin-right: 1.3rem; 
}