.card {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 1.7rem;
  color: black;
  border-bottom: 0.1rem solid black;
  border-radius: 0.3rem;
  word-wrap: break-word;
  cursor: pointer;

  img {
    width: 100%;
  }
}
