.color-picker {
  background-color: white;
  display: inline-flex;
  border: 1px solid #bbb;

  &__color {
    position: relative;
    height: 25px;
    width: 25px;
    margin: 2px 5.5px 2px 5.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  &__checker {
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
