@import "../../sass/variables";
.add-board {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: left;
  cursor: default;

  &__cp-container {
    width: 50%;
  }

  &__overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &__text {
      height: $board-height;
      line-height: $board-height;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  &__submit {
    display: block;
    width: 10rem;
    padding: 1rem;
    margin-top: 1rem;
    background: $color-green;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    transition: all 0.7s;
    &:disabled,
    &[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}
