@import "../../sass/variables";
.add-board {
  position: relative;
  width: 100%;
  height: 100%;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;

    &__text {
      height: $board-height;
      line-height: $board-height;
    }
  }
}
